[submodule "submodules/robotlegs"]
	path = submodules/robotlegs
	url = git://github.com/darscan/robotlegs-framework.git
[submodule "submodules/swift"]
	path = submodules/swift
	url = git://github.com/tschneidereit/SwiftSuspenders.git
